.btn {
    transition: .225s;
    padding: .475rem 3rem;
    border-radius: 0px;
    &-primary {
        background-color: $primary-color;
        border-color: $primary-color !important;
        &:hover,
        &:focus {
            background-color: darken($primary-color, 10);
        }
        &:focus {
            box-shadow: none !important;
        }
    }
}